<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="../css/login.css">
  <link rel="shortcut icon" href="../assets/icons/Vector.svg" type="image/x-icon">

  <title>Lista de Compras</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
</head>

<body>
  <header>
    <a>
      <img src="../assets/icons/logo.svg" alt="logo">
    </a>
  </header>

  <main>
    <form action="" method="post" enctype="multipart/form-data">
      <div class="text">
        <h1>Crie sua conta</h1>
      </div>
      <div class="input-wrapper">
        
        <input type="text" placeholder="Nome completo" id="name">
        <input type="text" placeholder="Username" id="username">
        <input type="password" placeholder="Senha" id="password">
        <button type="button">Cadastrar</button>
      </div>

      <div class="text">
        <p><a href="login.html">Já tem Conta? Login</a></p>
      </div>

    </form>
  </main>

</body>

</html>